.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

body {
  padding: 0 60px 0 60px;

  .task {
    margin: 20px 0 0 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid black;

    .task__header {
      margin: 0 0 20px 0;
    
      color: salmon;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 24px;
      letter-spacing: 1px;
    }
  }
}

@mixin marginReset {
  margin: 0;
}

@mixin btnReset {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin btnStyle {
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
  transition: all ease-in-out 200ms;
}

@mixin btnAnimation {
  transform: translate(-2px, 2px) scale(0.95);
}

@mixin ulReset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.taks1__timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 25%;
}

.task1__timer-header {
  @include marginReset;
  margin-bottom: 30px;

  font-family: 'Urbanist', "Helvetica Neue", Helvetica, sans-serif;
  font-size: 40px;
  color: salmon;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
}

.task1__message {
  @include marginReset;
  margin-bottom: 30px;

  font-family: 'Urbanist', Helvetica, sans-serif;
  font-weight: 300;
}

.task1__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 0 40px 0;
}

@media (max-width: 680px) {
  .task1__nav {
    flex-direction: column;
    justify-content: center;
  }
}

.timeBtn {
  @include btnReset;
  @include btnStyle;
}

.timeBtn:active {
  @include btnAnimation;
}

.taks1__time {
  @include marginReset;

  font-family: 'Inconsolata', monospace;
  font-size: 50px;
}

.timeBtn {
  width: 60px;
  height: 60px;
  padding: 0;

  border-radius: 1000px;
  background: rgb(253,29,29);
  color: #ffffff;
  font-weight: 800;
  font-size: 35px;
  line-height: 100%;
  vertical-align: middle;
}

.task1__downBtn {
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}

.task1__upBtn {
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);
}

.task1__controlBtns {
  @include ulReset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task1__controlBtn button {
  @include btnReset;
  @include btnStyle;

  padding: 10px 15px;

  font-family: 'Urbanist', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 40px;
  color: #ffffff;
}

.task1__controlBtn button:active {
  @include btnAnimation;
}

.task1__startBtn button {
  margin-right: 15px;

  background: #8cc152;
}

.task1__15Sec button {
  background-color: #ffce54;
}

.task1__stopBtn button {
  background-color: #da4453;
}